body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  margin: 0.25rem 0;
}

nav {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

li {
  border: solid 2px black;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

/* img.sprite {
  height: 100px;
  width: 100px;
} */

.pokemon-type {
  display: inline-block;
  border: solid 2px grey;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.pokemon-type--grass {
  background: hsl(120, 20%, 30%);
  border: solid 1px hsl(120, 80%, 80%);
}
.pokemon-type--grass::before {
  content: " 🌿 ";
}

.pokemon-type--poison {
  background: hsl(276, 20%, 30%);
  border: solid 1px hsl(276, 80%, 80%);
}
.pokemon-type--poison::before {
  content: " ☠️ ";
}
